<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sample ECommerce Home</title>
<link rel="stylesheet" th:href="@{/css/addresslist.css}">

</head>
<body>

<div th:replace="ECommerce/header :: header_fragment"></div>

<h1>配送先一覧</h1>
    <table>
    <tr>
        <th class="name">名前</th>
        <th class="postcode">郵便番号</th>
        <th class="address">住所</th>
        <th class="number">電話番号</th>
    <tr th:each="data : ${addresslist}">
        <td th:text="${data.name}"></td>
        <td th:text="${data.postCode}"></td>
        <td th:text="${data.prefectural}+${data.municipalities}"></td>
        <td th:text="${data.telephoneNumber}"></td>
    </tr>
    </table>
    </form>

    <!--
    <h2>新規送り先情報を登録する</h2>
    <form method="post" th:action="@{/basket/address}" th:object="${address}" id="register_form">
        <label for="name" class="form">名前</label>
        <input type="text" th:field="*{name}" >
        <br>
        <label for="postCode" class="form">郵便番号</label>
        <input type="text" th:field="*{postCode}">
        <br>
        <label for="prefectual" class="form">県</label>
        <input type="text" th:field="*{prefectural}">
        <br>
        <label for="address" class="form">住所</label>
        <input type="text" th:field="*{municipalities}">
        <br>
        <label for="telephonenumber" class="form">電話番号</label>
        <input type="text" th:field="*{telephoneNumber}">
        <br>
        <input type="submit"  value="送り先情報を登録する" id="register_form">
        </form>
    <br>
    -->
    <a  th:href="@{/customer/detail/}">お客様情報へ戻る</a>
</body>
</html>

