<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sample ECommerce Home</title>
<link rel="stylesheet" th:href="@{/css/list.css}">

</head>
<body>

    <div th:replace="ECommerce/header :: header_fragment"></div>


    <h1>カート内商品一覧</h1>
    <div th:if="${stockerror}==true" class="err"><h3>在庫が無くなったため販売不可の商品をカートから削除しました。注文は確定されてません。</h3></div>
    <div th:if="${qtyerror}==true" class="err"><h3>購入数が在庫数を上回る商品があるため、最大購入可能数に変更しました。注文は確定されてません。</h3></div>
    <div class="content">

    <table class="basketmain">
    <tr>
        <th class="name">商品名</th>
        <th class="category">カテゴリ</th>
        <th class="price">価格</th>
        <th class="qty">個数</th>
        <th class="delete">削除</th>
    <tr th:each="data : ${merchandiselist}" class="basketcontent">
        <td th:text="${data.merchandise.name}"></td>
        <td th:text="${data.merchandise.category}"></td>
        <td th:text="${'¥'+data.merchandise.price}"></td>
        <td th:text="${data.qty}"></td>
        <form method="post" th:action="@{/basket/delete/{id}/(id=${data.merchandise.id})}">
        <td><input type="submit" value="カートから削除する"></td>
        </form>
    </tr>
    </table>

    <div class="subcontent">
    <a th:text="'合計金額:￥'+${payment}" class="payment"></a>
    <br>
    <div  th:if="!${#lists.isEmpty(merchandiselist)}">
    <form method="post" th:action="@{/basket/payment}" class="button">
        <input type="submit"  value="購入手続きへ">
        </form>
    <br>
    </div>
    </div>

    </div>
    <br>
    <br>
    <a th:href="@{/sampleEC/home}">TOPに戻る</a>
</body>
</html>

