<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sample ECommerce Home</title>
<link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>

<header xmlns:th="http://www.thymeleaf.org" th:fragment="header_fragment">
    <h1> <a th:href="@{/sampleEC/home}" th:text="サンプルショップ"></a></h1>

    <div th:if="${loginuser != null}">
    <a  th:text="${loginuser.name}"></a>
    <a th:href="@{/customer/detail/}" th:text="お客様情報"></a>
    <form method="post" th:action="@{/logout}">
    <input type="submit" value="ログアウト">
    </form>
    </div>
    <br>

    <div th:if="${loginuser == null}">
    <a th:href="@{/login}" th:text="ログイン"></a>
    <a th:href="@{/sampleEC/customer_register}" th:text="新規会員登録"></a>
    </div>
    <br>
    </header>

</body>
</html>