
<header xmlns:th="http://www.thymeleaf.org" th:fragment="header_fragment" class="header">
    <h1><a th:href="@{/sampleEC/home}" th:text="サンプルショップ" class="headerlogo"></a></h1>

    <nav class="headernav">
    <ul class="headernav">
    <li th:if="${loginuser != null}" ><a  th:text="${loginuser.name}+さん"></a>
    <li th:if="${loginuser != null}" ><a th:href="@{/customer/detail/}" th:text="お客様情報"></a>
    <li th:if="${loginuser != null}"><form method="post" th:action="@{/logout}">
    <input type="submit" value="ログアウト">
    </form>
    <li th:if="${loginuser != null}"><a th:href="@{/basket/detail/}" class="basket">カートの中を見る</a>
    <li th:if="${loginuser == null}"><a th:href="@{/login}" th:text="ログイン"></a>
    <li th:if="${loginuser == null}"><a th:href="@{/sampleEC/customer_register}" th:text="新規会員登録" ></a>
    </ul>
    </nav>
</header>
