<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sample ECommerce Home</title>
<link rel="stylesheet" th:href="@{/css/home.css}">

</head>
<body>

    <div th:replace="ECommerce/header :: header_fragment"></div>

    <h1>商品一覧</h1>
    <table>
    <tr>
        <th>商品名</th>
        <th>カテゴリ</th>
        <th>価格</th>
        <th>個数</th>
        <th>カートに入れる</th>
    <tr th:each="data : ${merchandiselist}">
        <td th:text="${data.name}"></td>
        <td th:text="${data.category}"></td>
        <td th:text="${data.price}"></td>

        <form method="post" th:action="@{/basket/add/{id}/(id=${data.id})}" onsubmit="checkText()" >
        <td><select th:name="qty">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        </select></td>
        <td><input type=submit value="カートに入れる"></td>
        </form>

    </tr>
    </table>
<a th:href="@{/sampleEC/food}" th:text="食品"></a>
<a th:href="@{/sampleEC/medicine}" th:text="薬剤"></a>
<a th:href="@{/sampleEC/alcohol}" th:text="お酒"></a>
<a th:href="@{/sampleEC/stationery}" th:text="文房具"></a>
<a th:href="@{/sampleEC/electronics}" th:text="家電"></a>
    <br>
<a th:href="@{/basket/detail/}">カートの中を見る</a>
<br>

<a th:href="@{/sampleEC/home}">TOPに戻る</a>
<script>
    function checkText(){
    window.confirm("商品をカートに入れますか？");
    }

</script>
</body>
</html>