<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sample ECommerce Home</title>
<link rel="stylesheet" th:href="@{/css/orderlist.css}">

</head>
<body>

    <div th:replace="ECommerce/header :: header_fragment"></div>

    <h1>注文履歴</h1>
    <table class="orderlist">
    <tr>
        <th class="orderid">注文番号</th>
        <th class="date">注文日</th>
        <th class="ordername">送り先名前</th>
        <th class="postcode">郵便番号</th>
        <th class="address">送り先住所</th>
        <th class="number">電話番号</th>
    <tr th:each="data : ${orderlist}">
        <td>
        <form method="post" th:name="${data.id}" th:action="@{/customer/orderdetail/{id}/(id=${data.id})}">
        <input type="submit" th:value="${data.id}">
        </form>
        </td>
        <td th:text="${data.date}"></td>
        <td th:text="${data.address.name}"></td>
        <td th:text="${data.address.postCode}"></td>
        <td th:text="${data.address.prefectural}+${data.address.municipalities}"></td>
        <td th:text="${data.address.telephoneNumber}"></td>
    </tr>
    </table>
    <br>
<a th:href="@{/customer/detail/}">お客様情報へ戻る</a>
<br>

<a th:href="@{/sampleEC/home}">TOPに戻る</a>
</body>
</html>