<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sample ECommerce Home</title>
<link rel="stylesheet" th:href="@{/css/home.css}">

</head>
<body>

    <div th:replace="ECommerce/header :: header_fragment"></div>

    <h1>注文履歴</h1>
    <table>
    <tr>
        <th>注文番号</th>
        <th>注文日</th>
        <th>送り先名前</th>
        <th>送り先郵便番号</th>
        <th>送り先住所</th>
        <th>連絡先電話番号</th>
    <tr th:each="data : ${orderlist}">
        <td>
        <form method="post" th:name="${data.id}" th:action="@{/customer/orderdetail/{id}/(id=${data.id})}">
        <input type="submit" th:value="${data.id}">
        </form>
        </td>
        <td th:text="${data.date}"></td>
        <td th:text="${data.name}"></td>
        <td th:text="${data.postCode}"></td>
        <td th:text="${data.prefectual}+${data.address}"></td>
        <td th:text="${data.telephoneNumber}"></td>
    </tr>
    </table>
    <br>
<a th:href="@{/customer/detail/}">お客様情報へ戻る</a>
<br>

<a th:href="@{/sampleEC/home}">TOPに戻る</a>
</body>
</html>