<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sample ECommerce Home</title>
<link rel="stylesheet" th:href="@{/css/list.css}">

</head>
<body>
    <h1>カート内商品一覧</h1>

    <div class="content">
    <div class="paymentmain">

    <table class="paymentlist">
    <tr>
        <th class="name">商品名</th>
        <th class="category">カテゴリ</th>
        <th class="price">価格</th>
        <th class="qty">個数</th>

    <tr th:each="data : ${merchandiselist}" class="basketcontent">
        <td th:text="${data.merchandise.name}"></td>
        <td th:text="${data.merchandise.category}"></td>
        <td th:text="${'¥'+data.merchandise.price}"></td>
        <td th:text="${data.qty}"></td>

    </tr>
    </table >
    <br>
    <h3>送り先住所</h3>

    <table class="addresslist">
        <tr>
        <th>氏名</th>
        <td th:text="${useraddress.name}"></td>
        </tr>

        <tr>
        <th>郵便番号</th>
        <td th:text="${useraddress.postCode}"></td>
        </tr>

        <tr>
        <th>住所</th>
        <td th:text="${useraddress.prefectural}+${useraddress.municipalities}"></td>
        </tr>

        <tr>
        <th>電話番号</th>
        <td th:text="${useraddress.telephoneNumber}"></td>
        </tr>
        </table>
    <br>
    </div>
    <div class="subcontent">
    合計金額:￥<a th:text="${payment}"></a>
    <br>
    <br>
    ウォレット残額￥<a th:text="${loginuser.cash}"></a>
    <br>
    <br>
    <a th:href="@{/basket/address}" >送り先情報を変更する</a>
    <br>
    <br>
    <div  th:if="${payment} <= ${loginuser.cash}">
    <form method="post" th:action="@{/basket/determine/}"  class="button" >
        <input type="hidden" th:value="${useraddress.id}" th:name="id">
        <input type="submit"  value="注文を確定する" >
        </form>
    <br>
    </div>
    <div  th:unless="${payment} <= ${loginuser.cash}">
    <a th:text="ウォレットの残高が不足してます"　class="err"></a>
    <br>
    </div>
    </div>

    </div>

    <a  th:href="@{/basket/detail/}">カートに戻る</a>

</body>
</html>

