@charset "UTF-8";


label{
    background:#c8e4ff;
    color:#000000;
    width:300px;
}

.err{
    color:red;
}

.selector{
      width:1000px;
      border-bottom:5px solid #808080;
      margin: 5px 0px 5px;
}

table{
    border-collapse: collapse;
    width:1000px;
    text-align:center;
}

th,td{
    border:solid 1px black;
    padding: 5px 5px;
}

.head{
    background:#c8e4ff;
    width:400px;
    text-align:center;
}


input{
    width:250px;
}

.radiobutton{
    width:40px;
}

.name{
    width:20%;
}

.postcode{
    width:15%;
}

.address{
    width:45%;
}

.phonenumber{
    width:20%;
}

.submitbutton{
    margin:10px 0px 30px;
}

.register{
    width:400px;
    font-size:18px;
    line-height:35px;

}

.border{
    border-bottom:1px solid #808080;
    margin:5px;
    }


