@charset "UTF-8";



table{
    border-collapse: collapse;
    width:400px;
    text-align:center;
}



th,td{
    border:solid 1px black;
    padding: 10px 20px;
}

th{
    width:70px;
}

input{
    appearance:revert;
}

.err{
    color:red;
}

.header{
    background-color:#808080;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#ffffff;
}

.headernav{
    display:flex;
    font-size:20px;
    gap:32px;
    align-items: center;
}

.basket{
    font-size:25px;
    padding:20px,20px;
}

.content{
    display:flex;
}

.maincontent{
    width:500px;
}

.basketmain{
    height:100px;
    width:900px;
}

.basketcontent{
    text-align:right;
}

.name{
    width:35%;
}

.category{
    width:25%;
}

.price{
    width:20%;
}

.qty{
    width:10%;
}
.delete{
    width:10%;
}

.subcontent{
    flex-direction:column;
    border:1px solid black;
    width:200px;
    height:200px;
}

.payment{
    font-size:20px;
    font-style: italic;
}

.button{
    text-align:center;
}

.menu{
    text-align:center;
}