<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sample ECommerce Home</title>
<link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body>
    <h1>ログイン</h1>
    <p class="err" th:if="${param.error}">ログイン名かパスワードが一致しませんでした</p>
    <form method="post" action="/login" th:action="@{/login}">
    <table>
    <tr>
            <td><label for="loginuser">ログインID:</label></td>
            <td><input type="text" id="username" name="username" value="USERA"></td>
        </tr>
        <tr>
            <td><label for="password">パスワード:</label></td>
            <td><input type="text" id="password" name="password" value="PASSA"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" name="loginRun" value="ログイン"></td>
        </tr>

    </table>
    </form>
    <br>
    <a th:href="@{/sampleEC/home}">TOPに戻る</a>

</body>
</html>